body {
  color: white;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-show-top {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20vh 0 20vh 20vh;
  font-weight: light;
  font-size: 20px;
}

.image-show-top {
  position: fixed;
  top: 0;
  right: 0;
  width: 75vh;
  height: 100vh;
  background-image: url("mugnew2.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-show-top-left {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.content-show-top-right {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  line-height: 40%;
}

#asterisque {
  font-size: 14px;
}

.content-show-middle {
  padding: 25px 40px 25px 40px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-show-middle-left {
  width: 40%;
  height: 100%;
  // background-image: url("mug-show.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  padding: 20px;
}

.content-show-middle-center {
  width: 30%;
  height: 100%;
  padding: 35px;
  line-height: 70%;
}

.content-show-middle-right {
  width: 30%;
  height: 100%;
  // background-image: url("pack-grog.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  padding: 20px;
}

.big-title-group {
  line-height: 290%;
}

.small-title-group {
  line-height: 1.5;
  p {
    margin: 0;
  }
}

#big-title {
  font-weight: normal;
  font-size: 54px;
  p {
    margin: 0;
  }
}

#bellow-title {
  margin-top: 25px;
}

#button-1 {
  position: absolute;
  top: 80vh;
  left: 50vh;
  background-color: rgba(253, 211, 55, 0.8);
  color: rgba(21, 21, 23, 1);
  // color: white;
  padding: 12px 34px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
#button-1:hover {
  opacity: 1;
}


#button-2 {
  background-color: rgb(253, 211, 55);
  color: rgba(21, 21, 23, 1);
  padding: 12px 28px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
#button-2:hover {
  opacity: 1;
}
