<div class="footer">
  <div class="footer-warning">
    <p>- L’abus d’alcool est dangereux pour la santé, consommez avec modération -</p>
  </div>
  <div class="footer-links">
    <div class="footer-links-el">
      <p>Nous contacter</p>
      <p class="email">grog@gmail.com</p>
    </div>
    <div class="footer-links-el">
      <a href=""><p>Mentions légales</p></a>
    </div>
    <div class="footer-links-el">
      <a href=""><p>CGV</p></a>
    </div>
  </div>
</div>
