<div class="AV">
  <div id="AVtextTop">Avez-vous plus de 18 ans?</div>

  <input id="avLink" type="button" onclick="AVredirectLocation();" value="Non">

  <input id="AVenterLink" type="button" onclick="setMyCookie();" value="Oui">
</div>
