.footer {
  text-align: center;
  height: 20vh;
  padding: 0px 50px;
  color: white;
  font-weight: bold;
}

.footer-warning {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.footer-links {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  p {
    margin: 0;
    padding: 0;
  }
}

.footer-links a {
  color: white;
  text-decoration: none;
}
.footer-links a:hover {
  color: white;
}

.email {
  font-size: 16px;
}

