.barre {
  background: white;
  transition: all 0.3s ease;
  height: 15vh;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.barre a {
  text-decoration: none;
  color: black;
}

.barre-left {
  width: 50%;
  font-size: 46px;
}

.barre-right {
  width: 50%;
  text-align: right;
  line-height: 20px;
  font-size: 20px;
  p {
  margin: 0;
  text-align: right;
  // background-color: yellow;
  // width: fit-content;
  }
}

.emoji-up {
  font-size: 20px;
}

.couples {
  font-size: 30px;
  margin-left: 10px;
}

.sub-text {
  margin-right: 42vh !important;
}
